body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  text-align: center;
  max-width: 800px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logo {
  display: block;
  margin: 0 auto 20px auto;
  width: 180px;
}
h1 {
  color: #333333;
}
.subtitle {
  color: #666666;
  margin-bottom: 20px;
}
.buttons img {
  width: 150px;
  margin: 10px;
}
.phone-mockup {
  margin-top: 20px;
  position: relative;
}
.phone-mockup img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


body, body * {
  background: transparent !important;
}

.title, .title * {
  font-family: Arial !important;
  font-size: 26px !important;
  color: #000000 !important;
}

.subtitle, .subtitle * {
  font-family: Arial !important;
  font-size: 14px !important;
  color: #595959 !important;
}

.heading_1, .heading_1 * {
  font-family: Arial !important;
  font-size: 19px !important;
  color: #000000 !important;
}

.heading_2, .heading_2 * {
  font-family: Arial !important;
  font-size: 17px !important;
  color: #000000 !important;
}

.body_text, .body_text * {
  font-family: Arial !important;
  font-size: 14px !important;
  color: #595959 !important;
}

.link, .link * {
  font-family: Arial !important;
  font-size: 14px !important;
  color: #3030F1 !important;
  word-break: break-word !important;
}
